<div class="container">
    <div class="card1 mb-3 mt-2">
        <div class="card-body">
            <label class="col-2">Tìm Kiếm:</label>
            <input type="text" class="col-3" [(ngModel)]='filterValue' (ngModelChange)='filter()'>
        </div>
    </div>
    <div class="product-container">
        <div class="card" *ngFor='let p of products'>
            <img class="card-img-top" src="{{p.imageUrl}}" alt="{{p.productName}}">
            <div class="card-body">
                <h5 class="card-title">{{p.productName}}</h5>
                <p class="card-text">{{p.productCode}}</p>
                <p class="card-text">{{p.releaseDate}}</p>
                <p class="card-text">{{p.price | currency}}</p>
            </div>
        </div>
    </div>
</div>
