<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand logoB" routerLink="/">BierSG</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Trang chủ</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"routerLink="/product" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sản Phẩm
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/conserve">Conserve</a>
          <a class="dropdown-item" routerLink="/mlb">MLB</a>
        </div>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tài Khoản
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/dangnhap">Đăng nhập</a>
          <a class="dropdown-item" routerLink="/dangky">Đăng ký</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" routerLink="/lienhe">Liên hệ</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0"> 
      <a href="">Giỏ Hàng</a>
    </form>
  </div>
</nav>
<router-outlet></router-outlet>
